<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form eventi admin </title>
</head>
<body>
    <div class="container">
        <form th:object="${evento}"
              th:action="@{'/admin/eventi/save'}"
              method="post">
            <input type="hidden" th:field="*{id}">
            <div class="field">
                <label>Nome</label>
                <input type="text" th:field="*{nome}">
            </div>
            <div class="field">
                <label>Descrizione</label>
                <input type="text" th:field="*{descrizione}">
            </div>
            <div class="field">
                <label>Data</label>
                <input type="date" th:field="*{data}">
            </div>
            <div class="field">
                <label>Ora inizio</label>
                <input type="time" th:field="*{oraInizio}">
            </div>
            <div class="field">
                <label>Ora fine</label>
                <input type="time" th:field="*{oraFine}">
            </div>
        <div class="field">
            <label>Giochi</label>
            <div th:each="gioco : ${giochi}">
                <input type="checkbox" 
                    name="giochiIds" 
                    th:value="${gioco.id}" 
                    th:id="${'gioco-' + gioco.id}">
                <label th:for="${'gioco-' + gioco.id}" th:text="${gioco.titolo}"></label>
            </div>
        </div>
            <div class="field">
                <label>Numero max partecipanti</label>
                <input type="number" th:field="*{numeroMaxPartecipanti}">
            </div>
            <div class="field">
                <label>Costo partecipazione</label>
                <input type="number" step="0.01" th:field="*{costoPartecipazione}">
            </div>

            <button type="submit" class="btn primary">Salva</button>
        </form>
    </div>
</body>
</html>